@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* PARENT CONTAINER */
.skills-main-box {
    font-family: 'Montserrat';
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.38);
    transition: width 0.5s ease, height 0.5s ease;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 30px;
    height: 700px;
    width: 750px;
}

.s-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.s-title p {
    color: #696969;
    font-size: 14px;
}

.skills-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 10px;
}

.skills-main-box h3 {
    margin-top: 0;
    font-size: 16px;
}

.sl-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.sl-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}

.sl-box {
    height: 130px;
    width: 130px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.38);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.sl-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.sl-icon {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sl-icon img {
    height: 60px;
    width: 60px;
}