/* PARENT CONTAINER */
.home-main-box {
    font-family: 'Montserrat';
    /* border: 1px solid red; */
    width: 70%;
    margin: 2% auto;
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.38);
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}