@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* PARENT CONTAINER */
.skills-main-box {
    font-family: 'Montserrat';
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    overflow: hidden;
    height: 75vh;
    max-width: 100%;
    max-height: 100%;
    transition: width 0.3s ease, height 0.3s ease;
    background-color: white;
    box-shadow: 0px 0px 15px hsl(0deg 0% 0% / 0.38);
    border-radius: 10px;
    padding: 20px;
}

.s-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.s-title h2 {
    font-size: 1.3vw;
}

.s-title p {
    color: #696969;
    font-size: 0.75vw;
}

.skills-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 10px;
}

.skills-main-box h3 {
    margin-top: 0;
    font-size: 0.9vw;
}

.sl-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.sl-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 0.8vw;
}

.sl-box {
    height: 150px;
    width: 150px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.38);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sl-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.sl-box {
    height: 15vh;
    width: 15vh;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.38);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sl-icon {
    background-color: white;
    height: 85%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sl-icon img {
    height: 60%;
    width: 55%;
}

@media (max-width: 768px) {
    .sl-box {
        height: 12vh;
        width: 12vh;
    }

    .sl-icon img {
        height: 55%;
        width: 50%;
    }
}

@media (max-width: 480px) {
    .sl-box {
        height: 1vh;
        width: 1vh;
    }

    .sl-icon img {
        display: none;
    }
}