@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* PARENT CONTAINER */
.skills-main-box {
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: 0.75fr 0.15fr 0.75fr;
    position: relative;
    gap: 1.25rem;
    width: 52rem;
    height: 37.5rem;
    transition: width 0.5s ease, height 0.5s ease, grid-template-columns 0.5s ease, grid-template-rows 0.5s ease;
}

.skills-main-box.visible {
    width: 75rem;
    grid-template-columns: 0.75fr 1fr 0.75fr;
}

.no-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-select p {
    font-weight: 500;
}

.no-select.hidden {
    opacity: 0;
    display: none;
}

.no-select.dark p {
    color: white;
}

@media (max-width: 1097px) {
    .skills-main-box {
        height: 100%;
        width: 95%;
    }

    .skills-main-box.visible {
        height: 100%;
        width: 95%;
    }
}

@media (max-width: 960px) {
    .skills-main-box {
        height: 50%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0;
    }

    .skills-main-box.visible {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    .no-select {
        opacity: 0;
        display: none;
    }
}