.profile-detail {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.25rem;
    height: 100%;
    width: 100%;
    transition: color 0.5s ease-in-out;
}

.pb-full-desc {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 3.125rem;
    padding: 1.875rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.38);
    position: relative;
    z-index: 1;
    transition: background-color 0.5s linear;
}

.pb-full-desc:hover,
.detailed-desc:hover {
    box-shadow: 0 0 1rem black !important;
}

.pb-full-desc.dark:hover,
.detailed-desc.dark:hover {
    box-shadow: 0 0 0.5rem white !important;
}


.pb-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.pb-header h4 {
    margin: 0;
    font-size: 1.438rem;
    font-weight: 550;
}

.pb-header img {
    height: 100%;
    width: 100%;
}

.pb-full-desc p,
.dd-desc-text p {
    font-size: 0.969em;
    font-weight: 450;
    line-height: 1.5;
    margin-top: 0;
}

.pb-full-desc a,
.dd-desc-text a {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 550;
}


.pb-full-desc a:hover,
.dd-desc-text a:hover {
    font-weight: 700;
    text-decoration: underline;
}

.detailed-desc {
    height: 100%;
    width: 100%;
    border-radius: 3.125rem;
    padding: 1.875rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.38);
    display: grid;
    grid-template-rows: auto 1fr;
}

.dd-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.dd-header h4 {
    margin: 0;
    font-size: 1.438rem;
    font-weight: 550;
}

@media (max-width: 1098px) {
    .profile-detail {
        grid-template-rows: 0.8fr 1fr;
    }

    .weather,
    .lc,
    .gh,
    .joke,
    .pokemon,
    .fill-card {
        padding: 0 1.875rem !important;
    }

    .profile-detail p {
        font-size: 0.75rem;
    }

}

@media (max-width: 960px) {
    .profile-detail {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .weather,
    .lc,
    .gh,
    .joke,
    .pokemon,
    .fill-card {
        padding: 1.875rem !important;
    }
}

@media (max-width: 960px) {
    .pb-full-desc p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .profile-detail {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr !important;
    }
}

.pb-full-desc.dark {
    background-color: #313338;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.pb-full-desc.dark p,
.pb-full-desc.dark h4,
.detailed-desc.dark p,
.detailed-desc.dark h4 {
    color: white;
}

.close-container {
    width: 50px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftright {
    height: 4px;
    width: 20px;
    position: absolute;
    background-color: #696969;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 20px;
    position: absolute;
    background-color: #696969;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: red;
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: red;
}

.close-container:hover label {
    opacity: 1;
}