.pb-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    height: 100%;
}

.box1,
.box2 {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 3.125rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.38);
    display: grid;
    transition: background-color 0.5s linear;
}

.slide-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.875rem;
}

.slide-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
    transform: translateX(100%);
    opacity: 0;
    height: 100%;

}

.slide-content.enter {
    transform: translateX(0);
    opacity: 1;
}

.slide-content.exit {
    transform: translateX(-120%);
    opacity: 0;
}

.slide-content.hidden {
    transform: translateX(100%);
    opacity: 0;
}

.card {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.625rem;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.card-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.card-title p {
    margin: 0.313rem;
    font-size: 0.875rem;
    text-align: center;
    border-bottom: 1px black solid;
}

.card-title.dark p {
    border-bottom: 1px white solid;
}

.card-title-setup {
    font-size: 0.875rem;
    color: #808080;
}

.card-subtitle {
    /* color: red !important; */
    font-weight: 700;
}

.card-info p {
    margin: 0.313rem;
    font-weight: 500;
}

.card-info a {
    color: red;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-info a:hover {
    font-weight: 700;
    text-decoration: underline;
}

.card-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon img {
    width: 8.75rem;
    height: 8.75rem;
    object-fit: cover;
}

.weather,
.lc,
.gh,
.joke,
.pokemon,
.fill-card {
    padding: 1.875rem;
}

.pokemon-name {
    text-transform: capitalize;
}

.gh {
    grid-template-columns: 1.3fr 1fr;
}

.gh a {
    background-image: linear-gradient(to right,
            red,
            red 50%,
            black 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

.gh.dark a {
    background-image: linear-gradient(to right,
            red,
            red 50%,
            white 50%);
    font-weight: 600;
}

.gh a:before {
    content: '';
    background: red;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.gh a:hover {
    background-position: 0;
    font-weight: 600;
}

.gh a:hover::before {
    width: 100%;
}

.cat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container {
    display: grid;
    grid-template-rows: 0.5fr auto;
    cursor: pointer;
}

.cat img {
    width: 6.875rem;
    height: 6.875rem;
}

.img-container p {
    margin: 0;
    text-align: center;
}

.easy {
    color: green;
    font-weight: 600;
}

.medium {
    color: #FFAA33;
    font-weight: 600;
}

.hard {
    color: red;
    font-weight: 600;
}

@media (max-width: 1098px) {
    .pb-lists {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .slide-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card p {
        font-size: 0.9rem;
    }
}

@media (max-width: 767px) and (orientation: portrait) {

    .box1,
    .box2 {
        height: 60%;
    }

    .pb-lists {
        display: flex;
        flex-direction: column;
    }

    .content {
        margin: auto;
    }
}

.box1.dark,
.box2.dark {
    background-color: #313338;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.box1.dark p,
.box2.dark p {
    color: white;
}