.profile-detail {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.25rem;
}

.pb-full-desc {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 3.125rem;
    padding: 1.875rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.38);
    position: relative;
    z-index: 1;
}

.pb-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.pb-header h4 {
    margin: 0;
    font-size: 1.438rem;
    font-weight: 550;
}

.pb-header img {
    height: 100%;
    width: 100%;
}

.pb-full-desc p {
    font-size: 0.969em;
    font-weight: 450;
    line-height: 1.5;
    margin-top: 0;
}

.pb-full-desc a {
    color: red;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pb-full-desc a:hover {
    font-weight: 700;
    text-decoration: underline;
}

@media (max-width: 1098px) {
    .profile-detail {
        grid-template-rows: 0.8fr 1fr;
    }

    .weather,
    .lc,
    .gh,
    .joke,
    .pokemon,
    .fill-card {
        padding: 0 1.875rem !important;
    }

    .profile-detail p {
        font-size: 0.75rem;
    }

}

@media (max-width: 960px) {
    .profile-detail {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .weather,
    .lc,
    .gh,
    .joke,
    .pokemon,
    .fill-card {
        padding: 1.875rem !important;
    }
}

@media (max-width: 960px) {
    .pb-full-desc p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .profile-detail {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr !important;
    }
}