html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.parent-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--Gray-0, #F6F6F6);
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.tab-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
}

.tab-content.active {
    opacity: 1;
    transform: translateX(0);
}

.tab-content.right {
    transform: translateX(100%);
}

.tab-content.left {
    transform: translateX(-100%);
}

.tab-content.active.left {
    transform: translateX(0);
}

.tab-content.active.right {
    transform: translateX(0);
}