@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.lp-main-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat' !important;
}

.lp-login-box {
    height: 60%;
    width: 20%;
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 3.125rem;
    background-color: white;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.38);
    transition: background-color 0.5s linear, color 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.lp-login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f6f6f6;
    border-radius: 10px;
    font-family: 'Montserrat';
}

.button-19 {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: not-allowed;
}

.button-19:active {
    border-width: 4px 0 0;
    background: none;
}