@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.red-bar {
    background-color: var(--Primary-100, #DC143C);
    display: flex;
    align-items: center;
    height: 4vh;
}

.red-bar h4 {
    margin: 0;
    color: white;
    font-size: 1.6vh;
    margin: 0 1%;
    font-family: 'Montserrat';
    font-weight: 700;
}

.nav-list ul {
    background-color: white;
    display: flex;
    justify-content: start;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 5.6vh;
    box-shadow: 0.4vh 0.8vh 0.8vh hsl(0deg 0% 0% / 0.38);
}

.nav-list li {
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2%;
    border-bottom: 0.104vw solid transparent;
    color: #696969;
    font-weight: 500;
    height: 100%;
    font-size: 1.6vh;
}

.nav-list ul li:first-child {
    margin: 0 1%;
}

.nav-list li:hover {
    border-bottom: 0.104vw solid var(--Primary-100, #DC143C);
    cursor: pointer;
    color: var(--Primary-100, #DC143C);
}

.nav-list .selected {
    border-bottom: 0.104vw solid var(--Primary-100, #DC143C);
    color: var(--Primary-100, #DC143C);
    font-weight: bold;
}

@media (max-width: 767px) and (orientation: portrait) {
    .nav-list ul {
        justify-content: space-between;
        padding: 10px;
    }

    .nav-list li {
        font-family: 'Montserrat';
    }
}