@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

/* PARENT CONTAINER */
.home-main-box {
    font-family: 'Montserrat';
    /* border: 1px solid red; */
    height: 75vh;
    width: 70%;
    margin: 2% auto;
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.38);
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    overflow: hidden;
}

/* FIRST DIV IN PC */
.profile-card {
    padding: 20px;
    border-right: 2px lightgray solid;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.picture,
.basic-desc,
.social-media {
    padding: 10px;
    text-align: center;
}

/* FIRST SUB-DIV */
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.picture-container {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid black;
}

/* SECOND SUB-DIV */
.basic-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.basic-desc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.basic-desc li {
    padding: 10px;
    font-size: 1.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#full-name {
    font-weight: 700;
}

#job-title {
    font-weight: 300;
}

.basic-desc a, 
.pb-full-desc a {
    color: red;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.basic-desc a:hover,
.pb-full-desc a:hover{
    font-weight: 700;
    text-decoration: underline;
}

/* LAST SUB-DIV */
.social-media ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.social-media li {
    float: left;
    overflow: hidden;
}

.sti_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.social-media-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: width 0.5s, padding 0.5s;
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    justify-content: space-between;
}

.li-github .social-media-btn:hover,
.li-gmail .social-media-btn:hover {
    width: 140px;
    padding: 10px 20px;
}

.li-linkedin .social-media-btn:hover {
    width: 155px;
    padding: 10px 20px;
}

.social-media-icon img {
    width: 30px;
    height: 30px;
}

.social-media-text {
    margin: 0 15px;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 18px;
    font-weight: 600;
}

.social-media-btn:hover .social-media-text {
    opacity: 1;
}

/* SECOND DIV IN PC */
.profile-detail {
    /* background-color: #c0c0c0; */
    padding: 20px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% 50% 40%;
}

.pb-header {
    display: flex;
    align-items: center;
}

.pb-header p {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

.pb-full-desc {
    overflow: hidden;
}

.pb-full-desc p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 0;
}

.pb-lists {
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
}

.educ-history {
    background-color: lightcoral;
}

.educ-history p {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

.career-history {
    background-color: lightblue;
}