@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

/* PARENT CONTAINER */
.home-main-box {
    font-family: 'Montserrat';
    width: 67.708vw;
    margin: 2% auto;
    background-color: white;
    box-shadow: 0 0 0.417vw rgba(0, 0, 0, 0.38);
    display: grid;
    grid-template-columns: 3fr 7fr;
    position: relative;
    overflow: hidden;
    border-radius: 0.521vw;
    height: 70vh;
    transition: grid-template-columns 0.3s ease;
}

@media (max-width: 768px) {
    .home-main-box {
        grid-template-columns: 1fr !important;
        height: auto;
        overflow: auto;

    }

    .profile-card,
    .pb-header {
        display: none !important;
    }

    .profile-detail {
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding: 5px !important;
    }

    .pb-full-desc {
        margin: 0 !important;
    }
}


/* FIRST DIV IN PC */
.profile-card {
    padding: 1.042vw;
    border-right: 0.104vw lightgray solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    overflow: hidden;
}

.picture,
.basic-desc,
.social-media {
    padding: 0.104vw;
    text-align: center;
}

/* FIRST SUB-DIV */
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.picture-container {
    width: 10.417vw;
    height: 20vh;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0.781vw hsl(0deg 0% 0% / 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0.104vw solid black;
}

#profile-pic {
    width: 12vw;
    height: 12vw;
}

/* SECOND SUB-DIV */
.basic-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 0.104vw;
}

.basic-desc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.basic-desc li {
    padding: 0.521vw;
    font-size: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#full-name {
    font-weight: 700;
}

#job-title {
    font-weight: 300;
}

.basic-desc a,
.pb-full-desc a {
    color: red;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.basic-desc a:hover,
.pb-full-desc a:hover {
    font-weight: 700;
    text-decoration: underline;
}

/* LAST SUB-DIV */

/* SECOND DIV IN PC */
.profile-detail {
    padding: 1.042vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

.pb-header {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.pb-header p {
    margin: 0;
    font-size: 1.2vw;
    font-weight: 600;
}

.pb-full-desc {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 1vh;
}

.pb-full-desc p {
    font-size: 0.80vw;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 0;
}

.pb-lists {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.521vw;
}