.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateY(0);
}

.projects-list.hidden {
    opacity: 0;
    transform: translateY(10px);
}

/* SELECTION HEADER */
.projects {
    border-radius: 3.125rem;
    padding: 1.875rem;
}

.projects p {
    font-weight: 500;
}

.projects:hover {
    box-shadow: 0 0 1rem black !important;
}

.projects.dark p,
.projects.dark button {
    color: white;
}

.projects.dark:hover {
    box-shadow: 0 0 0.5rem white !important;
}

.tabs {
    display: flex;
    justify-content: space-around;
}

.tab {
    padding: 0.5em 1em;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 0.875rem;
    transition: background 0.3s;
    font-family: 'Montserrat';
}

.tab:hover {
    font-weight: 700;
}

.tab.active {
    font-weight: bold;
    font-size: 0.875rem;
    border-bottom: 2px solid currentColor;
    font-family: 'Montserrat';
}

/* PROJECT INFO */
.slide-content-opacity {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
    opacity: 0;
    height: 100%;
}

.slide-content-opacity.enter {
    opacity: 1;
}

.slide-content-opacity.exit,
.slide-content-opacity.hidden {
    opacity: 0;
}

.project-info {
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 0.3fr;
    height: 100%;
}

.project-info p {
    text-align: center;
    line-height: 1.5rem;
}

.project-info a {
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    z-index: 1000;
}

.project-info a:hover {
    font-weight: 700 !important;
}

.project-img {
    height: 100%;
    width: 100%;
}

.project-info.art {
    grid-template-rows: auto 1fr;
}

.project-info.art p {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    z-index: 1000;
}

.project-info.art p:hover {
    font-weight: 700;
    cursor: pointer;
}

.project-img.art {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-img.art img {
    height: 90%;
    width: 70%;
}