@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.red-bar {
    background-color: var(--Primary-100, #DC143C);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0.625rem;
    transition: background-color 0.5s linear;
}

.red-bar.dark {
    background-color: var(--Primary-100, #570515);
}

.red-bar h4 {
    margin: 0;
    color: white;
    font-size: 1.25rem;
    margin: 0 1%;
    font-family: 'Montserrat';
    font-weight: 700;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.nav-list {
    display: grid;
    grid-template-columns: 1fr 0.05fr;
    align-items: center;
    background-color: white;
    box-shadow: 0.4vh 0.8vh 0.8vh hsl(0deg 0% 0% / 0.38);
    height: 4.25rem;
    padding: 0.625rem;
    position: relative;
    transition: background-color 0.5s linear;
}

.nav-list.dark {
    background-color: #313338;
    box-shadow: 0.4vh 0.8vh 0.8vh hsl(0deg 0% 0% / 0.38);
}

.nav-list.dark li {
    color: #F9F6EE;
}

.nav-list ul {
    display: flex;
    justify-content: start;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1002;
}

.nav-list li {
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2%;
    border-bottom: 0.104vw solid transparent;
    color: #696969;
    font-weight: 500;
    height: 100%;
    font-size: 1.25rem;
}

.nav-list ul li:first-child {
    margin: 0 1%;
}

.nav-list li:hover {
    border-bottom: 0.104vw solid var(--Primary-100, #DC143C);
    cursor: pointer;
    color: var(--Primary-100, #DC143C);
}

.nav-list .selected {
    border-bottom: 0.104vw solid var(--Primary-100, #DC143C);
    color: var(--Primary-100, #DC143C) !important;
    font-weight: bold;
}

@media (max-width: 767px) {
    .nav-list ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: auto;
        box-shadow: none;
        display: none;
        background-color: white;
        position: absolute;
        top: 2.5rem;
        right: 1rem;
        width: auto;
        padding: 1rem 1.5rem;
        border: 1px solid #ccc;
        border-radius: 1rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nav-list.dark ul {
        background-color: #313338;
        border: 1px solid black;
    }

    .nav-list {
        display: flex;
        padding: 0.625rem;
        height: 2.5rem;
    }

    .nav-list.open ul {
        display: flex;
    }

    .nav-list ul li {
        margin: 0.5rem 0;
        width: 100%;
        text-align: left;
        font-size: 1rem;
    }

    .moon-icon svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    .sun-icon svg {
        width: 1.875rem;
        height: 1.875rem;
    }

    .menu-toggle {
        display: block;
    }

}

.react-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 1%;
}

.sun-icon,
.moon-icon {
    display: none;
    opacity: 0;
    transition: opacity ease-in-out;
}

.lightmode,
.darkmode {
    display: block;
    opacity: 1;
}

.contactIcon {
    size: 40px;
}

.contactIcon:hover {
    cursor: pointer;
}

.contactIcon.sun:hover {
    fill: #ac7e0c;
}

.contactIcon.moon:hover {
    fill: #E2DFD2;
}