@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.white-bar {
    height: 3.2vh;
    background-color: white;
    width: 100%;
    box-shadow: 0.4vh -0.8vh 0.8vh hsl(0deg 0% 0% / 0.38);
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-bar p {
    font-family: 'Montserrat';
    font-size: 1.2vh;
}